.todo-app {
  &__whole-part {
    margin-bottom: 4px;
  }

  &__input-field {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  &__todo-input {
    width: 70%;
    padding: 10px 18px;
    font-size: 18px;
    margin-bottom: 16px;

    &:focus {
      outline: 0;
    }
  }

  &__add-button {
    background-color: crimson;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;

    cursor: pointer;
    margin-left: 14px;
    &:hover {
      color: black;
    }
  }

  &__todo-item {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__remove-item {
    cursor: pointer;
    margin-left: 14px;
    &:hover {
      color: crimson;
    }
  }

  &__completed {
    text-decoration: line-through;
    color: gray;
  }
}
