<v-container>
  <v-row class="todo-app">
    <v-col class="todo-app__whole-part">
      <div class="todo-app__input-field">
        <v-text-field
          class="todo-app__todo-input"
          label="What needs to be done?"
          @keyup.enter="addTodo"
          v-model="newTodo"
        ></v-text-field>
        <v-btn @click="addTodo" class="todo-app__add-button">ADD</v-btn>
      </div>
      <div
        v-for="(todo, index) in todos"
        :key="todo.id"
        class="todo-app__todo-item"
      >
        <div class="todo-app__left">
          <v-checkbox v-model="todo.completed"></v-checkbox>
          <div :class="{'todo-app__completed': todo.completed}">
            {{todo.description}}
          </div>
        </div>
        <div class="todo-app__remove-item" @click="removeTodo(todo.id)">
          &times
        </div>
      </div>
    </v-col>
  </v-row>
</v-container>
