.todo-app {
  &__whole-part {
    margin-bottom: 4px;
  }

  &__input-field {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  &__todo-input {
    width: 70% !important;
    padding: 10px 18px !important;
    font-size: 18px !important;
    margin-bottom: 16px !important;

    &:focus {
      outline: 0 !important;
    }
  }

  &__add-button {
    background-color: crimson !important;
    color: white !important;
    padding: 10px !important;
    border-radius: 5px !important;
    margin-bottom: 20px !important;

    cursor: pointer !important;
    margin-left: 14px !important;
    &:hover {
      color: black !important;
    }
  }

  &__todo-item {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__remove-item {
    cursor: pointer;
    margin-left: 14px;
    &:hover {
      color: crimson;
    }
  }

  &__completed {
    text-decoration: line-through;
    color: gray;
  }

  &__description-text {
    font-size: 22px !important;
  }
}

.v-input__slot::before {
  border-style: none !important;
}
